:root {
    --blue: rgb(9, 64, 166);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: var(--blue);
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link {
    list-style: none;
    padding: 10px;
}

.nav-link a {
    color: aliceblue;
    text-decoration: none;
}

.nav-link a:hover {
    color: aqua;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

#about,
#skills,
#code,
#projects,
#education,
#languages {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#about h1 {
    font-size: 1.8rem;
}

#about p {
    text-align: center;
    color: #444;
}

.profile-picture {
    width: 300px;
}

.profile-picture img {
    width: 100%;
}

.skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    color: #fff;
    padding: 12px;
    margin: 8px;
    background-color: var(--blue);
    border-radius: 5px;
}

.skill:hover {
    background-color: rgb(6, 45, 117);
}

#code pre {
    padding: 10px 70px;
    color: #fff;
    background-color: var(--blue);
}

@media (max-width:767px) {
    #code pre {
        padding: 10px 5px;
    }
}

#projects {
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.project {
    max-width: 330px;
    transition: all 0.1s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    margin-bottom: 10px;
}

.project > :last-child {
    margin: 10px;
}

.card {
    color: #fff;
    width: 330px;
    border: 1px solid #888;
}

.card img {
    width: 100%;
}

.card p {
    background-color: var(--blue);
    padding: 10px;
}

.card p a {
    color: #fff;
}

#education p {
    font-style: italic;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-bottom: 40px;
}

.language h3, .language p {
    padding: 5px;
}

.language p {
    font-style: italic;
}

footer {
    background-color: var(--blue);
}

.contacts {
    padding-top: 30px;
}

.contacts, .footer-bottom {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
}

.footer-bottom img {
    width: 100px;
}

.contacts li, .footer-bottom li {
    list-style: none;
}

.contacts a, .footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.contacts i:hover {
    color: aqua;
    transform: scale(1.2);
}
